<div class="container card">
    <h5 class="card-header">Welcome</h5>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">This page is hosted on github pages and content/games were written using 
          <span class="badge badge-info">angular</span> &amp;
          <span class="badge badge-info">bootstrap</span>
        </p>
      <!-- <a href="https://angular.io/" target="_blank" class="btn btn-primary">Angular</a> &nbsp;
      <a href="https://getbootstrap.com/" target="_blank" class="btn btn-primary">Bootstrap</a> -->
    </div>
  </div>