<div class="row" style="background-color:whitesmoke;">
    <div class="col-xs-9">
        <canvas #canvasElem width="{{ width }}" height="{{ height }}"></canvas>
        <!-- <p [ngStyle]="{'visibility' : showCoOrdinatesVal ? 'visible' : 'hidden'}">{{ l }} _____ {{ r }} _____ {{ t }} _____ {{ b }}</p> -->
    </div>
    <div class="col-xs-3">
        <table class="table table-bordered table-sm" widht="100%">
            <thead class="thead-dark">
                <tr>
                    <th colspan=2 scope="col">Game Controls</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player Type</td>
                    <td>
                        <select (change)="playerChanged($event)">
                            <option value="daddy">Daddy</option>
                            <option value="jodha">Jodha</option>
                        </select>
                    </td>
                </tr>
                <!--<tr>
                    <td>Speed</td>
                    <td>
                        <select>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Ball Count</td>
                    <td>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
            -->
            </tbody>
        </table>
        
        &nbsp;<button  class="btn btn-success" [ngStyle]="{visibility: gameCompleted ? 'visible' : 'hidden'}" (click)="restartGame()">New Game</button>

    </div>
</div>
<p>* Use keyboard UP and DOWN arrows to move the paddle.</p>