<div class="container">
  <div class="row" style="background-color: whitesmoke">
    <h4>
      <a href="https://angular.io/" target="_blank">Angular </a> <a href="https://en.wikipedia.org/wiki/Pong"
        target="_blank">Pong (single player) </a> Game - <a href="https://github.com/sivajik" target="_blank">Sivaji
        Kondapalli</a>
    </h4>
  </div>
  <div class="row" style="background-color: whitesmoke;">
    <h6>
      inspiration(s) from <a
        href="https://medium.com/better-programming/fun-side-projects-that-you-can-build-today-553158597363"
        target="_blank">Better
        Programming</a>
    </h6>
  </div>
  <app-pong></app-pong>
</div>