<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" routerLink="/">
    <img src="../assets/images/homepage/code-icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Sivaji Kondapalli
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cv">CV <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="link" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          JAVA WORK
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/pong-game" routerLinkActive="active">Side Projects</a>
        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="link" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          ANGULAR GAMES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/pong-game" routerLinkActive="active">Pong Game</a>
          <a class="dropdown-item" routerLink="/number-slider-game">Number Slider Game</a>
          <a class="dropdown-item" routerLink="/image-slider-game">Image Slider Game</a>
          <a class="dropdown-item" routerLink="/tetris-game">Tetris Game</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <app-image-slider></app-image-slider>  -->