<div class="container" style="background-color:whitesmoke">
    <div class="row align-items-center" style="display: flex;justify-content: center;align-items: center;">
        <div class="col-xs-3">
            Board Size:
            <select (change)="boardSizeChanged()" #boardSize>
                <option value="2">Jodha (2 X 2)</option>
                <option value="4" selected>4 X 4</option>
                <option value="6">6 X 6</option>
                <option value="8">8 X 8</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <div class="col-xs-9">
            Total Clicks: {{ totalClicks }}
        </div>
    </div>
    <div class="row" *ngFor="let row1 of board; index as i"
        style="display: flex;justify-content: center;align-items: center;">
        <div class="col-xs-12" *ngFor="let col1 of board[i]; index as j">
            <button class="btn btn-default" (click)="onCellClick(i, j)"
                style="height: 55px; width: 55px !important;text-align: center; border-radius: 25%; background-color: #5DADE2">
                {{ board[i][j].value }}
            </button>
        </div>
    </div>
    <br>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <p>* Click on numbers to move UP / DOWN / LEFT / RIGHT to keep all numbers in the order.</p>
    </div>
</div>